Source: adtools-gcc
Section: devel
Priority: extra
Build-Depends: debhelper (>=9), adtools-binutils, adtools-sdk
Maintainer: Sebastian Bauer <mail@sebastianbauer.info>

Package: adtools-compiler
Depends: ${shlibs:Depends}
Description: Amiga Development Tools
Architecture: any
