/*-o*.c
/*.S
/*.actual
/*.c.*
/*.expected
/*.map
/*.o
/*.out
/test-aos4-extensions-simple
/test-atomic
/test-exceptions
/test-thread
/test-thread-direct
/test-thread.d
/test-thread.o
/test-pthread-option
/test-tls
/test-wchar
/test-call-once
